.content-container{
  height:100%;
  overflow:auto;
  padding: 20px;
  border-radius: 50px;
}
.form-control{
  color:white; 
  opacity:50%;
  color: white
}
.card-panel{
  width: 90%;
}
.done{
  text-decoration: line-through;
  color:grey
}